.idea
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.factorypath
*.class

*.log

.gradle
/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache